<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* unvisited link */
    a:link {
    color: black;
    }
    /* visited link */
    a:visited {
    color: black;
    }
    /* mouse over link */
    a:hover {
    color: turquoise;
    }
    /* selected link */
    a:active {
    color: black;
    }
    a:link {
    text-decoration: none;
    }

    h1 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
}
</style>

<section>
    <h1>SONGS AVAILABLE (UPDATES WEEKLY)</h1>
    {{#if simplifiedInfo}}
    <table>
        <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Length</th>
        </tr>
        {{#each simplifiedInfo}}
        <tr>
            <th><a href="/middleman/{{this.id}}">{{this.name}}</a></th>
            <th>{{this.artist}}</th>
            <th>{{this.album}}</th>
            <th>{{this.length}}</th>
        </tr>
        {{/each}}
    </table>
    {{/if}}
</section>