<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

h1 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
}

#back{
  text-align: center;
  padding-left: 38%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 46px;
}

/* unvisited link */
    a:link {
    color: black;
    }
    /* visited link */
    a:visited {
    color: black;
    }
    /* mouse over link */
    a:hover {
    color: teal;
    }
    /* selected link */
    a:active {
    color: black;
    }
    a:link {
    text-decoration: none;
    }
</style>

<section>
    <h1>HERE ARE YOUR PLAYLISTS!</h1>
    {{#if simplifiedInfo}}
    <table>
        <tr>
            <th>Name</th>
            <th>Owner</th>
            <th>Public</th>
            <th>Total Tracks</th>
        </tr>
        {{#each simplifiedInfo}}
        <tr>
            <th><a href="/trackInfo/{{this.id}}">{{this.name}}</a></th>
            <th>{{this.owner.display_name}}</th>
            <th>{{this.public}}</th>
            <th>{{this.total_tracks}}</th>
        </tr>
        {{/each}}
        {{#if userPlaylists}}
          {{#each userPlaylists}}
          <tr>
              <th><a href="/trackInfoNonSpotify/{{@index}}">{{this.title}}</a></th>
              <th>{{this.display_name}}</th>
              <th>false</th>
              <th>{{this.numOfSongs}}</th>
          </tr>
          {{/each}}
        {{/if}}
    </table>
    {{/if}}
    <br>
    <br>
    <br>
    <a href="/back3" id="back" class="pls">BACK TO CHOICES</a>
</section>